results/


# 忽略绘图生成的文件（常见图片格式）
*.png
*.jpg
*.jpeg
*.pdf
*.svg
*.bmp
*.tif
checkpoint
data

plot_sca_ablation*
eval_all*
eval_table*
eval_thesis*
compare*

visualize_data*


__pycache__/
*.pyc
*.pyo

.venv/
env/
venv/

.vscode/
.idea/


*.log